In [1]:
import pandas as pd 
from src.utils.results_processing import process_results_rq1,process_results_rq2,build_clean_comparison_table_rq1,style_clean_table_rq1,build_clean_comparison_table_rq2,style_clean_table_rq2,build_clean_comparison_table_rq1,build_clean_comparison_table_rq3,style_metrics_table_rq3

## RQ1

In [2]:
df_dalle=pd.read_parquet('../../test/discrete/moderated/dall_e/dall_e_3_results_plain.parquet') 
df_imagen=pd.read_parquet('../../test/discrete/moderated/imagen/imgen_3_medium_filter.parquet')
df_results_dalle,df_results_imagen= process_results_rq1(df_dalle,df_imagen)
table = build_clean_comparison_table_rq1(df_results_dalle, df_results_imagen, metric_order=['BR', 'ASR', 'CHR', 'CLIP'])
style_clean_table_rq1(table)

## RQ2

In [3]:
df=pd.read_csv('../../data/dataset/adv/ALL_ADV_CLEAN_mod_OUR_img_human_labeled.csv')
df=process_results_rq2(df)
metric_table = build_clean_comparison_table_rq2(df)
style_clean_table_rq2(metric_table)

## RQ3

In [4]:
df=pd.read_csv('../../data/dataset/adv/ALL_ADV_CLEAN_MOD_ALL.csv')
df_results_rq3 = build_clean_comparison_table_rq3(df)
style_metrics_table_rq3(df_results_rq3)